Django==1.5.2
South==0.8.1
coverage==3.6
dj-database-url==0.2.2
django-braces==1.2.1
django-debug-toolbar==0.9.4
django-discover-runner==1.0
django-extensions==1.1.1
django-model-utils==1.4.0
django-redis-cache==0.10.0
django-zurb-foundation==4.3.0
gunicorn==17.5
hiredis==0.1.1
psycopg2==2.5.1
redis==2.7.6
rerun==1.0.19
django-aftermath==0.1.0
