Django==1.6
South==0.8.2
argparse==1.2.1
coverage==3.7
dj-database-url==0.2.2
django-aftermath==0.1.0
django-braces==1.2.2
django-debug-toolbar==0.10.2
django-discover-runner==1.0
django-extensions==1.2.5
django-model-utils==1.5.0
django-redis-cache==0.10.0
django-zurb-foundation==5.0.2
gunicorn==18.0
hiredis==0.1.1
psycopg2==2.5.1
redis==2.8.0
rerun==1.0.19
six==1.4.1
sqlparse==0.1.10
wsgiref==0.1.2
