{% extends "base.html" %}
{% block body %}
    <a href="{% url 'foundation_index' %}">Foundation test page</a>
    <br>
    <a href="{% url 'foundation_icons' %}">Foundation icons test page</a>
{% endblock body %}

